.login{
    background-color: rgba(0, 0, 0, 0.532);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: all 0.5s linear;
}
.login-all-backgroud{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/2e07bc25-8b8f-4531-8e1f-7e5e33938793/0019a33b-65e2-4ebc-bfb3-2d0b23352b5c/VN-vi-20240219-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.login-app-title {
    text-align: center;
    font-size: 40px;
}
.login-app-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.login-app{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(0, 0, 0, 0.744);
    border-radius: 10px;
    padding-bottom: 40px;
    padding-top: 30px;
}
.login-app-button-all{
    display: flex;
    justify-content: space-around;
}
.login-app-button{
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    background-color: red;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0.5px solid white;
    transition: all 0.2s linear;
}
.login-app-button:hover{
    background-color: #FFFFFF;
    color: #4095FD;
}

.login-app-input{
    min-width: 210px;
    width: 21vw;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.656);
    border-radius: 0px;
    height: 35px;
    padding: 10px;
    color: white;
    transition: all 0.1s linear;
}
.login-app-input::placeholder{
    color: #B8B8B8;
}
.login-app-input:focus{
    outline: none;
    border-bottom: 2px solid white;
}
.label-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    font-weight: bold;
}
.login-app-res{
    font-size: 12px;
    min-width: 210px;
    width: 21vw;
}
.error-login{
    font-size: 12px;
    min-width: 210px;
    width: 21vw;
    padding-bottom: 20px;
    margin-top: -5px;
}
.login-app-register{
    text-decoration: underline;
    cursor: pointer;
    color: white;
}
.error-register{
    color: red;
    font-size: 12px;
    height: 12px;
    margin-bottom: -22px;
}
.faq{
    display: flex;
    flex-direction: column;
}
.faq div ul li {
    margin-left: 3vw;
}
.faq-title{
    text-align: center;
    font-size: 37px;
    margin-bottom: 20px;
    margin-top: 60px;
    color: #FFFFFF;
}
.faq h2{
    margin-bottom: 25px;
    color: #FFE08A;
}
.faq ul{
    margin-bottom: 20px;
    color: #DBDBDB;
}
.faq p{
    margin-bottom: 20px;
    color: #DBDBDB;
}
.faq li{
    margin-bottom: 15px;
}
.faq a{
    text-decoration: none;
    color: #4095FD;
}
.faq-question{
    background-color: #06121E;
    padding: 5vw;
}
.navbar-all-login{
    background-color: #300A60;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
}
.navbar-login{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 7px;
}
.navbar-opp{
    display: flex;
}
.title-web{
    color: white;
    padding: 2px;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    font-weight: bold;
    
}
.opp-nav-all{
    padding-left: 20px;
    display: flex;
    gap: 20px;
}
.active:hover{
    border-bottom: 2px solid white;
}
.active{
    border-bottom: 2px solid white;
}
.opp-nav-all .opp-nav {
    text-decoration: none;
    padding: 10px;
    transition: all 0.1s linear;
    color: #DBDBDB;
}
.name-people-all{
    display: flex;
    gap: 20px;
}
.name-people{
    padding: 8px;
    color: white;
}